/* styles.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color:#18191a;
  }
  
  header {
    background-color: #242526;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr;
    gap: 10px;
    padding: 10px;
  }
  
  .main-content {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-image{
    background-image: url(hero-image.png);
    height:100vh;
    background-position:top;
    background-repeat: no-repeat;
    
  }


  
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 50px;
  }
  
  .bar {
    width: 40px;
    height: 6px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  .menu-options {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  
  .menu-options li {
    margin: 10px;
  }
  
  .menu-options a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  .hamburger-menu:hover .menu-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust this value based on your design */
    background-color: #333;
    left: 0.01em;
  }
  
  /* ABOUT US SECTION */

  .about-us{
    width: 1000px;
    height: 200px;
    background-color: #323233;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;

  }

  #au-title{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
  }

  #au-text{
    text-align: center;
  }
  