/* styles.css */
html, body{
  overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color:#18191a;
    padding-bottom: 140px;
    position: relative;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr;
    gap: 10px;
    padding: 10px;
  }

  
  .main-content {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*navbar*/
  
  .navbar {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    background-color: #202020;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  #header{
    text-align: center;
    position: absolute;
    right: 44%;
  }

  .menu-icon {
    cursor: pointer;
    /* Adjust the positioning as needed */
    position: absolute;
    right: 300px;
  }
  
  .bar {
    width: 40px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 3px;
  }
  
  .menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top:300px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -80%; /* Adjust the value to change the menu width */
    width: 40%; /* Adjust the value to change the menu width */
    height: 100%;
    background-color: #333;
    transition: right 0.3s;
    gap: 50px;
  }
  
  .menu-list li {
    margin-right: 20px;
    margin: 0;
    text-align: center;
    
  }
  
  .menu-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    transition: color 0.3s;
    
  }
  
  .menu-list a:hover {
    color: #ffcc00;
  }
  
  .menu-list.show {
    right: 0;
  }
  
  
  .hero-image{
    background-image: url(hero-image.png);
    height:100vh;
    margin-top: 80px;
    background-position:top;;
    background-repeat: no-repeat;
    
  }


  /* ABOUT US SECTION */

  #about-us{
    width: 1000px;
    height: auto;
    background-color: #202020;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border-color: #202020;
    padding: 30px;
    margin-top: -150px;
   
  }

  #au-title{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: #fff;
    margin:2px;
  }

  #au-text{
    text-align: center;
    color: #fff;
  }

/* MEMEBER SECTION */

#members {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  color: #fff;
  margin:2px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Adjust the space between the icon and the text */
  margin-bottom: 20px; /* Space between the icon/link sets */
}



.icon-container{
  display: flex;
  align-items: center;
  flex-direction:column;
  margin-bottom: 20px;
}

.name-link {
  display: flex;
  flex-direction: column;
  /* Stack the text vertically */
  color: white; /* Text color for 'Name' */
  margin-bottom: 50px;
}

.name-link p {
  margin: 0;
}

.name-link a {
  color: green; /* Text color for 'Link' */
  text-decoration: none; /* Removes underline from links */
}

.name-link a:hover {
  text-decoration: underline; /* Adds underline on hover for links */
}

.icon {
  border-radius: 50%; /* This creates the circular border */
  width: 130px; /* Adjust as necessary */
  height: 130px; /* Adjust as necessary */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  max-width: 100%; /* Scales the image to fit within the border */
  max-height: 100%;
   /* Scales the image to fit within the border */
}
  
 /*  SCREEN SIZE */

 @media only screen and (max-width: 1024px) {
  .hamburger-menu {
      margin:auto
  }

  .menu-icon {
    right: 5em;
  }

  .hero-image{
    background-image: url(hero-image.png);
    height:100vh;
    margin-top: 60px;
    background-position:top;
    background-repeat: no-repeat;
    background-size: 700px;

  }

  .menu-options ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  #about-us{
    width: 450px;
    height: auto;
    background-color: #202020;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border-color: #202020;
    padding: 30px;
    margin-top: -150px;
   
  }

}





/* Styles for phones */

@media only screen and (max-width: 480px) {
  
  navbar {
    background-color: #202020;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 325px;
    margin-left: auto;
    margin-right:auto ;
  }

  .menu-icon {
    right: 1px;
  }
  
  .hero-image{
    background-image: url(hero-image.png);
    margin-top: 60px;
    background-position:top;
    background-repeat: no-repeat;
    background-size: 300px;
    

  }

  #about-us{
    width: 300px;
    height: auto;
    background-color: #202020;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border-color: #202020;
    padding: 10px;
    margin-top: -550px;
   
  }



}
